name: Testing with Pytest
run-name: Pytest

on:
  push:
    branches:
      - main
      - "releases/**"
    branches-ignore:
      - dev
  issues:
    types:
      - opened
      - labeled

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLOps_Labs/Lab_01/requirements.txt
          pip install pytest

      - name: Run tests and generate XML report
        run: |
          cd MLOps_Labs/Lab_01
          pytest --junitxml=pytest-report.xml
        continue-on-error: false

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: pytest-results
          path: MLOps_Labs/Lab_01/pytest-report.xml

      - name: Notify on success
        if: success()
        run: echo "Tests passed successfully"

      - name: Notify on failure
        if: failure()
        run: echo "Tests failed"
